<div class="container col-lg-6">
    <h1 class="text-center">Login</h1>
    <div class="card">
      <div class="card-body">
        <form class="form-group">
          <div class="form-group">
            <label for="email">Usuário :</label>
            <input type="text" class="form-control" id="usuario" [(ngModel)]="usuario" placeholder="seu usuario"
              name="usuario">
          </div>
          <div class="form-group">
            <label for="pwd">Senha:</label>
            <input type="password" class="form-control" [(ngModel)]="senha" id="senha" placeholder="sua senha"
              name="senha">
          </div>
          <button (click)=login() class="btn btn-success">Login</button>
        </form>
      </div>
    </div>
  </div>