
<div class="container">
    <h2> Lista dos Aeroportos Operados </h2>
    <table class = "table table-striped table-bordered">
        <thead>
            <tr>
                <th> Código AITA</th>
                <th> Nome </th>
                <th> Cidade/Estado</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let aeroporto of aeroportos" >
                <td> {{ aeroporto.codigoIATA }} </td>
                <td> {{ aeroporto.aeroportoNome }} </td>
                <td> {{ aeroporto.cidadeNome }} - {{ aeroporto.estadoNome }} </td>
            </tr>
        </tbody>
    </table>
</div>
